@import "../../assets/mixins";
@import "../CreateEntityForm/CreateEntityForm.module";

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 15%;
  background-color: #ecdcdd;
  padding: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #252525;
}

.modalContent h2 {
  margin-top: 0;
}

.modalContent form {
  display: flex;
  flex-direction: column;
}

.modalContent label {
  margin-bottom: 5px;
}

.modalContent input {
  margin-bottom: 10px;
  @extend .input;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.saveBtn {
  @include button-style;
}

.cancelBtn {
  @include button-style;
  width: 3.5rem;
}
