.createForm {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  height: 1.8rem;
  border-radius: 0.3rem;
  border: 2px solid #cfd1ee;
  padding: 0.2rem;
  background-color: #f3faea;
  transition-duration: 0.2s;
  &:focus {
    outline: none;
    border: 2px solid #767bbc;
  }
}

.createBtn {
  width: 5rem;
  height: 1.8rem;
  background-color: #6e2e7c;
  border: none;
  border-radius: 0.3rem;
  color: #f3f3f3;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.3s;
  font-family: Inter, sans-serif;
  &:hover {
    background-color: #7c2e63;
  }
}